.container {
  display: flex;
  flex-direction: row;
}
.drawerWrapper {
  width: 240px;
}
.drawer {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.content {
  width: calc(100% - 240px);
}
.appBar {
  width: calc(100% - 240px);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.accountDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  padding: 5px;
}
.accountName {
  font-size: 2em;
}
.accountValue {
  font-size: 1.5em;
}
.appBarIcon {
  font-size: 2em;
}

.accountsSelectionText {
  word-wrap: break-word;
}

.accountsMenuItemTextWrapper {
  max-width: calc(100% - 2em);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.accountsMenuItemText {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: calc(100% - 1em);
}

.accountsMenuItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.addIcon {
  margin-right: 5px;
}

.accountsMenuColorCircle {
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  margin-right: 5px;
}

.drawerAccountInfoWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.drawerAccountLogin {
  margin: 0px 10px;
  font-size: 1.25em;
  word-break: break-all;
}

@media only screen and (max-width: 959px) {
  .content {
    width: 100%;
  }
  .appBar {
    width: 100%;
  }
}

@media only screen and (min-width: 960px) {
  .content {
    width: calc(100% - 240px);
  }
  .appBar {
    width: calc(100% - 240px);
  }
}
