body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.errorToastContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
